# Database settings
SQLALCHEMY_DATABASE_URI = 'sqlite:///AvatarGame.db'

# Application Settings
SECRET_KEY = 'ruqefbuq4ohjkeadsjfgtkudjrd6io898iouh89iohu89pbjhvgjhcjkkukyhbjvgfdxchgvjkblnjmbaehrj' # The secret key MUST be unique. Just mash your keyboard for a few seconds...
APPLICATION_ROOT = ''
TITLE = 'Avatar Runner Experiment' #Top html title
ADMIN_PASSWORD = 'Bajojajo2004' #Password Admin purposers
USE_BREADCRUMBS = False #Progress list for users
USE_LOGO = False #Logo at top
CONDITIONS = [
    {"label": "Match", "enabled": True},
    {"label": "Mismatch", "enabled": True}
]

# Backwards-compatible numeric count (some older code may still reference this)
CONDITIONS_NUM = len(CONDITIONS)
ALLOW_RETAKES = False #Allow user to redo experiment

# Each entry must contain a user-friendly name and a unique path
# Order of lists
PAGE_LIST = [
    {'name': 'Consent', 'path': 'consent'},
    #{'name': 'MTurk ID', 'path': 'start_mturk'},
    {'name': 'Game', 'path': 'game_embed'},
    {'name': 'TextIntro', 'path': 'questionnaire/Intro'},
    {'name': 'TextGame', 'path': 'questionnaire/IntroGame'},
    {'name': 'Questionnaire1', 'path': 'questionnaire/PAI'},
    {'name': 'Questionnaire3', 'path': 'questionnaire/NASA'},
    {'name': 'Questionnaire5', 'path': 'questionnaire/IMI'},
    {'name': 'TextAvatar', 'path': 'questionnaire/IntroAvatar'},
    {'name': 'Questionnaire2', 'path': 'questionnaire/SATAQ'},
    {'name': 'Questionnaire4', 'path': 'questionnaire/BIQ'},
    {'name': 'Demographics', 'path': 'questionnaire/demographics'},
    {'name': 'TextEnd', 'path': 'questionnaire/EndQ'}
    #{'name': 'End', 'path': 'end'}
]

# Hint: use """ for multi-line text.
#Text for asking for consent
CONSENT_TEXT = """
    In this experiment your data will be recorded and used for educational purposes. Do you consent?
    """
